# **Introduction to Pandas dataframe: Create and combine dataframes**

Chanin Nantasenamat

[*'Data Professor' YouTube channel*](http://youtube.com/dataprofessor)

In this Jupyter notebook, I will be showing you how to create and combine dataframes.

---

### **Import library**

In [1]:
import pandas as pd

### **List of data**

In [2]:
actual = [16.8, 23.9, 13.8, 20.5, 11.3, 19.5,  6.3, 17.9, 13.1, 50. , 21.4,
       19.1, 23.5, 27.9, 37.2, 32.4, 23.8, 20.2, 22.6, 26.6, 23.2, 18.1,
       13.5, 22.9, 21.6, 20. , 30.8,  8.3, 33.3, 25. , 19.4, 36.1, 50. ,
       20.1, 22.8, 12.6, 16.7, 17.8, 22. , 29.1, 21. , 24.5, 50. , 13.3,
       23.4, 50. , 48.8,  5. , 28.7, 16.6, 44. , 16.1, 14.8, 20.3, 23.3,
       22.9, 13. , 18.5, 42.3, 25. , 13.1, 23.9, 16. , 19.8, 18.4, 31.6,
       16.1, 24.5,  7.2, 15.6, 20.5, 19.5, 15.2, 20.6,  8.4,  7. , 21.7,
       30.3, 50. ,  8.7, 17.1, 21.1, 20.1, 20.8, 10.4, 23.6, 23.7, 19.9,
       14.3, 19.2, 29.6, 34.7, 50. , 20.4, 20.1, 26.6, 17.1, 33.4, 11.7,
       21.7, 27.1, 20.2]

In [3]:
predicted = [20.5148569 , 27.82886233, 16.43203562, 24.01932616, 13.81306244,
       20.0544133 , 11.07760091,  1.23841981, 13.08369099, 32.06065051,
       21.80028245, 19.70086401, 30.34151955, 31.96783871, 32.77942469,
       35.48586342, 24.88051126, 16.20186816, 19.63436548, 27.63436029,
       25.55239401, 16.96598602, 13.66610108, 20.76722385, 25.42433781,
       16.68188504, 31.50094734, 13.28704755, 35.77302955, 25.10014145,
       17.04436579, 33.3090196 , 24.85372303, 23.80015208, 26.18331751,
       18.45292525, 19.66103179, 22.55104514, 21.46000897, 31.31314465,
       21.28161596, 20.61125037, 43.90556977, 15.95012827, 23.61341091,
       35.59706661, 40.6356739 ,  6.84204098, 25.38718276, 18.07038018,
       37.33364745, 18.46343365, 14.81861342, 21.98221655, 25.90126042,
       22.94534806, 17.30656894, 19.63037965, 36.71028099, 24.35718345,
       20.46550413, 26.99445794, 18.97647788, 22.60476792, 19.73474778,
       32.1264391 , 18.85756175, 21.42074179,  8.49086946, 12.79200836,
       20.10601397, 18.60872483, 11.07256759, 19.4576125 , 14.02077952,
       -4.47472295, 22.7001417 , 32.28715798, 35.73002861,  8.37161207,
       19.01144658, 22.3577413 , 15.03428522, 22.84082071, 14.00768463,
       30.46514491, 10.99390946, 20.19173782, 13.88027366, 23.47393447,
       24.95657711, 30.22290055, 36.09347373, 20.72634294, 21.429171  ,
       22.34773591, 19.95869185, 35.61725504, 13.81990247, 23.89717481,
       19.56498843, 22.66245896]

In [5]:
type(actual)

list

In [6]:
type(predicted)

list

### **Create pandas dataframe**

In [4]:
Actual = pd.DataFrame(actual)
Actual

        0
0    16.8
1    23.9
2    13.8
3    20.5
4    11.3
5    19.5
6     6.3
7    17.9
8    13.1
9    50.0
10   21.4
11   19.1
12   23.5
13   27.9
14   37.2
15   32.4
16   23.8
17   20.2
18   22.6
19   26.6
20   23.2
21   18.1
22   13.5
23   22.9
24   21.6
25   20.0
26   30.8
27    8.3
28   33.3
29   25.0
..    ...
72   15.2
73   20.6
74    8.4
75    7.0
76   21.7
77   30.3
78   50.0
79    8.7
80   17.1
81   21.1
82   20.1
83   20.8
84   10.4
85   23.6
86   23.7
87   19.9
88   14.3
89   19.2
90   29.6
91   34.7
92   50.0
93   20.4
94   20.1
95   26.6
96   17.1
97   33.4
98   11.7
99   21.7
100  27.1
101  20.2

[102 rows x 1 columns]

In [5]:
Predicted = pd.DataFrame(predicted)
Predicted

             0
0    20.514857
1    27.828862
2    16.432036
3    24.019326
4    13.813062
5    20.054413
6    11.077601
7     1.238420
8    13.083691
9    32.060651
10   21.800282
11   19.700864
12   30.341520
13   31.967839
14   32.779425
15   35.485863
16   24.880511
17   16.201868
18   19.634365
19   27.634360
20   25.552394
21   16.965986
22   13.666101
23   20.767224
24   25.424338
25   16.681885
26   31.500947
27   13.287048
28   35.773030
29   25.100141
..         ...
72   11.072568
73   19.457612
74   14.020780
75   -4.474723
76   22.700142
77   32.287158
78   35.730029
79    8.371612
80   19.011447
81   22.357741
82   15.034285
83   22.840821
84   14.007685
85   30.465145
86   10.993909
87   20.191738
88   13.880274
89   23.473934
90   24.956577
91   30.222901
92   36.093474
93   20.726343
94   21.429171
95   22.347736
96   19.958692
97   35.617255
98   13.819902
99   23.897175
100  19.564988
101  22.662459

[102 rows x 1 columns]

### **Rename columns of pandas dataframe**

In [6]:
Actual.columns = ['Actual']
Actual

     Actual
0      16.8
1      23.9
2      13.8
3      20.5
4      11.3
5      19.5
6       6.3
7      17.9
8      13.1
9      50.0
10     21.4
11     19.1
12     23.5
13     27.9
14     37.2
15     32.4
16     23.8
17     20.2
18     22.6
19     26.6
20     23.2
21     18.1
22     13.5
23     22.9
24     21.6
25     20.0
26     30.8
27      8.3
28     33.3
29     25.0
..      ...
72     15.2
73     20.6
74      8.4
75      7.0
76     21.7
77     30.3
78     50.0
79      8.7
80     17.1
81     21.1
82     20.1
83     20.8
84     10.4
85     23.6
86     23.7
87     19.9
88     14.3
89     19.2
90     29.6
91     34.7
92     50.0
93     20.4
94     20.1
95     26.6
96     17.1
97     33.4
98     11.7
99     21.7
100    27.1
101    20.2

[102 rows x 1 columns]

In [7]:
Predicted.columns = ['Predicted']
Predicted

     Predicted
0    20.514857
1    27.828862
2    16.432036
3    24.019326
4    13.813062
5    20.054413
6    11.077601
7     1.238420
8    13.083691
9    32.060651
10   21.800282
11   19.700864
12   30.341520
13   31.967839
14   32.779425
15   35.485863
16   24.880511
17   16.201868
18   19.634365
19   27.634360
20   25.552394
21   16.965986
22   13.666101
23   20.767224
24   25.424338
25   16.681885
26   31.500947
27   13.287048
28   35.773030
29   25.100141
..         ...
72   11.072568
73   19.457612
74   14.020780
75   -4.474723
76   22.700142
77   32.287158
78   35.730029
79    8.371612
80   19.011447
81   22.357741
82   15.034285
83   22.840821
84   14.007685
85   30.465145
86   10.993909
87   20.191738
88   13.880274
89   23.473934
90   24.956577
91   30.222901
92   36.093474
93   20.726343
94   21.429171
95   22.347736
96   19.958692
97   35.617255
98   13.819902
99   23.897175
100  19.564988
101  22.662459

[102 rows x 1 columns]

### **Combine dataframes**

#### Side-by-side

To combine 2 dataframes we will be using the **pd.concat()** function from pandas. As arguments we specify the 2 input dataframes to combine in brackets; and we also use axis=1 so that the 2 dataframes can be combined side by side.

In [8]:
results = pd.concat([Actual, Predicted], axis=1)
results

     Actual  Predicted
0      16.8  20.514857
1      23.9  27.828862
2      13.8  16.432036
3      20.5  24.019326
4      11.3  13.813062
5      19.5  20.054413
6       6.3  11.077601
7      17.9   1.238420
8      13.1  13.083691
9      50.0  32.060651
10     21.4  21.800282
11     19.1  19.700864
12     23.5  30.341520
13     27.9  31.967839
14     37.2  32.779425
15     32.4  35.485863
16     23.8  24.880511
17     20.2  16.201868
18     22.6  19.634365
19     26.6  27.634360
20     23.2  25.552394
21     18.1  16.965986
22     13.5  13.666101
23     22.9  20.767224
24     21.6  25.424338
25     20.0  16.681885
26     30.8  31.500947
27      8.3  13.287048
28     33.3  35.773030
29     25.0  25.100141
..      ...        ...
72     15.2  11.072568
73     20.6  19.457612
74      8.4  14.020780
75      7.0  -4.474723
76     21.7  22.700142
77     30.3  32.287158
78     50.0  35.730029
79      8.7   8.371612
80     17.1  19.011447
81     21.1  22.357741
82     20.1  15.034285
83     20.8  22.840821
84     10.4  14.007685
85     23.6  30.465145
86     23.7  10.993909
87     19.9  20.191738
88     14.3  13.880274
89     19.2  23.473934
90     29.6  24.956577
91     34.7  30.222901
92     50.0  36.093474
93     20.4  20.726343
94     20.1  21.429171
95     26.6  22.347736
96     17.1  19.958692
97     33.4  35.617255
98     11.7  13.819902
99     21.7  23.897175
100    27.1  19.564988
101    20.2  22.662459

[102 rows x 2 columns]

#### Stacked vertically

When the axis=0 the 2 dataframes will be stacked vertically.
But the coloumns must have thesame names. if nt, it wont be concatenated properly.
you can change the column name by 
Predicted.columns = ['Actual']
Predicted

In [19]:
pd.concat([Actual, Predicted], axis=0)

        Actual
0    16.800000
1    23.900000
2    13.800000
3    20.500000
4    11.300000
5    19.500000
6     6.300000
7    17.900000
8    13.100000
9    50.000000
10   21.400000
11   19.100000
12   23.500000
13   27.900000
14   37.200000
15   32.400000
16   23.800000
17   20.200000
18   22.600000
19   26.600000
20   23.200000
21   18.100000
22   13.500000
23   22.900000
24   21.600000
25   20.000000
26   30.800000
27    8.300000
28   33.300000
29   25.000000
..         ...
72   11.072568
73   19.457612
74   14.020780
75   -4.474723
76   22.700142
77   32.287158
78   35.730029
79    8.371612
80   19.011447
81   22.357741
82   15.034285
83   22.840821
84   14.007685
85   30.465145
86   10.993909
87   20.191738
88   13.880274
89   23.473934
90   24.956577
91   30.222901
92   36.093474
93   20.726343
94   21.429171
95   22.347736
96   19.958692
97   35.617255
98   13.819902
99   23.897175
100  19.564988
101  22.662459

[204 rows x 1 columns]

In [17]:
Predicted.columns = ['Actual']
Predicted

        Actual
0    20.514857
1    27.828862
2    16.432036
3    24.019326
4    13.813062
5    20.054413
6    11.077601
7     1.238420
8    13.083691
9    32.060651
10   21.800282
11   19.700864
12   30.341520
13   31.967839
14   32.779425
15   35.485863
16   24.880511
17   16.201868
18   19.634365
19   27.634360
20   25.552394
21   16.965986
22   13.666101
23   20.767224
24   25.424338
25   16.681885
26   31.500947
27   13.287048
28   35.773030
29   25.100141
..         ...
72   11.072568
73   19.457612
74   14.020780
75   -4.474723
76   22.700142
77   32.287158
78   35.730029
79    8.371612
80   19.011447
81   22.357741
82   15.034285
83   22.840821
84   14.007685
85   30.465145
86   10.993909
87   20.191738
88   13.880274
89   23.473934
90   24.956577
91   30.222901
92   36.093474
93   20.726343
94   21.429171
95   22.347736
96   19.958692
97   35.617255
98   13.819902
99   23.897175
100  19.564988
101  22.662459

[102 rows x 1 columns]

In [16]:
Actual2 = Actual
Actual2

     Actual
0      16.8
1      23.9
2      13.8
3      20.5
4      11.3
5      19.5
6       6.3
7      17.9
8      13.1
9      50.0
10     21.4
11     19.1
12     23.5
13     27.9
14     37.2
15     32.4
16     23.8
17     20.2
18     22.6
19     26.6
20     23.2
21     18.1
22     13.5
23     22.9
24     21.6
25     20.0
26     30.8
27      8.3
28     33.3
29     25.0
..      ...
72     15.2
73     20.6
74      8.4
75      7.0
76     21.7
77     30.3
78     50.0
79      8.7
80     17.1
81     21.1
82     20.1
83     20.8
84     10.4
85     23.6
86     23.7
87     19.9
88     14.3
89     19.2
90     29.6
91     34.7
92     50.0
93     20.4
94     20.1
95     26.6
96     17.1
97     33.4
98     11.7
99     21.7
100    27.1
101    20.2

[102 rows x 1 columns]

In [18]:
pd.concat([Actual, Actual2], axis=0)

     Actual
0      16.8
1      23.9
2      13.8
3      20.5
4      11.3
5      19.5
6       6.3
7      17.9
8      13.1
9      50.0
10     21.4
11     19.1
12     23.5
13     27.9
14     37.2
15     32.4
16     23.8
17     20.2
18     22.6
19     26.6
20     23.2
21     18.1
22     13.5
23     22.9
24     21.6
25     20.0
26     30.8
27      8.3
28     33.3
29     25.0
..      ...
72     15.2
73     20.6
74      8.4
75      7.0
76     21.7
77     30.3
78     50.0
79      8.7
80     17.1
81     21.1
82     20.1
83     20.8
84     10.4
85     23.6
86     23.7
87     19.9
88     14.3
89     19.2
90     29.6
91     34.7
92     50.0
93     20.4
94     20.1
95     26.6
96     17.1
97     33.4
98     11.7
99     21.7
100    27.1
101    20.2

[204 rows x 1 columns]